<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body>
<% include partials/menu %>

<div class="container-fluid bg-3 text-center">
    <h3><%= page %></h3><br>
</div>

<table>
    <tr>
        <th>
            Items
        </th>
        <th>
            Price
        </th>
    </tr>
    <% listOfItemsInBasket.forEach(function (item) { %>
        <tr>
            <td>
                <%= item[0] %>
            </td>
            <td>
                €<%= item[1] %>
            </td>
        </tr>
    <% }) %>
</table>

<a href="/order-complete">Buy Now</a>

<% include partials/footer %>
</body>
<% include partials/script %>
</html>