<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body>
<% include partials/menu %>

<div class="container-fluid bg-3 text-center">
    <h3><%= page %></h3><br>
</div>

<table>
    <tr>
        <th>
            Items
        </th>
        <th>
            Price
        </th>
    </tr>
    <tr>
        <td>
            Custom Pizza
        </td>
        <td>
            <%
            let total = 0;
            pizza.forEach(function (price) {
                total += parseInt(price);
            }) %>
            €<%= total %>
        </td>
    </tr>
</table>

<% include partials/footer %>
</body>
<% include partials/script %>
</html>