<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %>
</head>
<body>
<% include partials/menu %>

<div class="container-fluid bg-3 text-center">
  <h3><%= page %></h3><br>
  <p>hello customerasddsfafdasafdsfasdfdasfdasfdasfdasfasdfasdfdsfdsasdfwea</p>
</div>

<% var hi = [1,2,3,4,5,6] %>
<% hi.forEach(function(item) { %>
  <li><%= item %></li>
<% }); %>

<% include partials/footer %>
</body>
<% include partials/script %>
</html>