<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body>
<% include partials/menu %>

<div class="container-fluid bg-3 text-center">
    <h3>Login</h3>
    <br>


    <h4>Username</h4>
    <input type="text" name="id" id="myText" placeholder="">
    <br>
    <h4>Password</h4>
    <input type="text" name="id" id="myText" placeholder="">

    <br>
    <br>
    <input type="button" onclick="" value="Click" />
    <br>
    <br>

    <a href="/register">Make Account</a>

</div>
<% include partials/footer %>
</body>
<% include partials/script %>
</html>
