<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body>
<% include partials/menu %>

<div class="container-fluid bg-3 text-center">
    <h3><%= mymessage %></h3><br>
    <h3>it will be ready in 50 minutes</h3>
</div>

<% include partials/footer %>
</body>
<% include partials/script %>
</html>