<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body>
<% include partials/menu %>

<div class="container-fluid bg-3 text-center">
    <h3><%= page %></h3>
</div>


<h3>Payment Mode- Select your payment mode</h3>

<input type="radio" id="radio1" name="radios" value="radio1" checked>
<label for="radio1">Credit/Debit</label>

<input type="radio" id="radio3" name="radios"value="radio2">
<label for="radio3">Online Banking</label>

<input type="radio" id="radio2" name="radios"value="radio3">
<label for="radio2">In Store Pickup</label>

<form action="/order-status" id="cardpayment"  method="post"  style="margin-left: 10%; width: 80%; margin-bottom: 5%">
    <div class="table form-fields">
        <div class="form-group">
<!--            <div class="label">Card Number:</div>-->
<!--            <div class="input full"><input type="text" name="ccnumber" id="ccnumber" placeholder="Card Number"/><br/></div>-->
            <label>Number</label>
            <input type="text" class="form-control" name="ccnumber" required minlength="1" maxlength="20">
        </div>
        <div class="form-group">
            <div class="label">Card Type:</div>
            <div class="input full">
                <select class="styled">
                    <option selected>Visa</option>
                    <option>Mastercard</option>
                </select>
            </div>
            <div class="valid"></div>
        </div>
        <div class="form-group">
<!--            <div class="label">Your name:</div>-->
<!--            <div class="input full"><input type="text" name="name" id="name" placeholder="Name On Card"/></div>-->
            <label>Name On Card</label>
            <input type="text" class="form-control" name="name" required minlength="1" maxlength="20">
        </div>
        <div class="form-group">
<!--            <div class="label">CVV Number:</div>-->
<!--            <div class="input size50"><input type="text" name="cvv" id="cvv" placeholder="CVV Number" maxlength="3"/></div>-->
            <label>CVV Number</label>
            <input type="text" class="form-control" name="cvv" required minlength="1" maxlength="20">
        </div>
        <div class="form-group">
            <label>email</label>
            <input type="password" class="form-control" name="emailid" required minlength="1" maxlength="20">
        </div>
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" name="personname" required minlength="1" maxlength="20">
        </div>
        <div class="form-group">
            <label>Address</label>
            <input type="text" class="form-control" name="address" required minlength="1" maxlength="20">
        </div>
        <div class="form-group">
            <label>Phone Number</label>
            <input type="number" class="form-control" name="phonenumber" required min="1000000000" max="9999999999">
        </div>

    </div>
    <button style="margin-left: 2em" type="submit" class="btn btn-warning btn-lg">Pay Now</button>
</form>

<form action="/order-status" id="internetpayment"  method="post"  style="margin-left: 10%; width: 80% ">


    <div class="table form-fields">

        <div class="form-group">
<!--            <div class="label">Name:</div>-->
<!--            <div class="input full"><input type="text" name="name" id="Name" placeholder="Enter your name"/></div>-->
            <label>Enter Email address</label>
            <input type="text" class="form-control" name="email" required minlength="1" maxlength="20">
        </div>

<!--        <div class="row name">-->
<!--            <div class="label">Email:</div>-->
<!--            <div class="input full"><input type="text" name="email" id="email" placeholder="Enter Email address"/></div>-->
<!--        </div>-->
        <div class="form-group">
            <label>email</label>
            <input type="password" class="form-control" name="emailid" required minlength="1" maxlength="20">
        </div>
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" name="personname" required minlength="1" maxlength="20">
        </div>
        <div class="form-group">
            <label>Address</label>
            <input type="text" class="form-control" name="address" required minlength="1" maxlength="20">
        </div>
        <div class="form-group">
            <label>Phone Number</label>
            <input type="number" class="form-control" name="phonenumber" required min="1000000000" max="9999999999">
        </div>

    </div>
    <button style="margin-left: 2em" type="submit" class="btn btn-warning btn-lg">Pay Now</button>
</form>

<form action="/order-status" id="instorepayment" method="post" style="margin-left: 10%; width: 80% ">
    <div class="form-group">
        <label>email</label>
        <input type="password" class="form-control" name="emailid" required minlength="1" maxlength="20">
    </div>
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="personname" required minlength="1" maxlength="20">
    </div>
    <div class="form-group">
        <label>Phone Number</label>
        <input type="number" class="form-control" name="phonenumber" required min="1000000000" max="9999999999">
    </div>

    <button style="margin-left: 2em" type="submit" class="btn btn-warning btn-lg" id="delivery">Pay Now</button>
</form>


<script>

    var radios = document.getElementsByName("radios");
    var cardpayment = document.getElementById("cardpayment");
    var internetpayment = document.getElementById("internetpayment");
    var instorepayment = document.getElementById("instorepayment");
    cardpayment.style.display = 'block';   // show
    internetpayment.style.display = 'none';// hide
    instorepayment.style.display = 'none';//hide
    for (var i = 0; i < radios.length; i++) {
        radios[i].onclick = function () {
            var val = this.value;
            if (val === 'radio1'){
                cardpayment.style.display = 'block';
                internetpayment.style.display = 'none';
                instorepayment.style.display = 'none';
            } else if (val === 'radio2') {
                cardpayment.style.display = 'none';
                internetpayment.style.display = 'block';
                instorepayment.style.display = 'none';
            }
            else if (val === 'radio3') {
                cardpayment.style.display = 'none';
                internetpayment.style.display = 'none';
                instorepayment.style.display = 'block';
            }

        }
    }
</script>

<% include partials/footer %>
</body>
<% include partials/script %>
</html>